.full-mask {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 999;
}

.right-mask {
  padding-top: 4.286rem;
  float: right;
  width: 0;
  height: 100vh;
  background-color: white;
  -webkit-box-shadow: 3px 3px 6px 5px rgba(58, 58, 58, 0.5);
          box-shadow: 3px 3px 6px 5px rgba(58, 58, 58, 0.5);
}

.auto-width {
  position: fixed;
  bottom: 40px;
  width: 760px;
}

@media screen and (max-width: 500px) {
  .auto-width {
    position: fixed;
    bottom: 40px;
    width: 100vw;
  }
}

