.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.upload-head {
    width: 120px;
    height: 160px;
    border: 1px solid #cacaca;
    margin-top: 20px;
    color: #3298DC;
    text-align: center;
    vertical-align: middle;
    line-height: 160px;
}
.id-upload {
    font-size: 34px;
    width: 60px;
    height: 60px;
    border: 1px solid #cacaca;
    color: #E0E0E0;
    text-align: center;
    line-height: 60px;
}
.formName {
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
    // padding: 0 15px 15px;
    padding: 0 15px;
    font-weight: bolder;
    .note {
        font-size: 14px;
        color: #999;
        font-weight: 300;
    }
}
.pd-b-15 {
    padding-bottom: 15px;
}

.table input {
    width: 100%;
    border: none;
    outline: none
}

.staff-radio {
    margin-top: 0;
}
.padding15 {
    padding: 0 15px;
}
.nav .waves-effect {
    overflow: unset;
}
.change-dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: absolute;
    top: 6px;
    left: -4px;
}

.follow-item {
    padding: 0 10px;
}

.task-follow {
    padding: 0 15px;
}

.task-follow li {
    list-style: none;
    position: relative;
    padding-bottom: 10px;
    border-left: 1px solid #E0E0E0;
}

.change-text {
    line-height: 40px;
}

.add-icon {
    float: right;
    margin: 6px 4px 0 0;
    color: #838383;
    cursor: pointer;
}