.popover {
  max-width: 100%;
}

.popover.bs-popover-bottom .arrow {
  left: 95%;
}

.popover.bs-popover-bottom .arrow::after, .popover.popover-auto[x-placement^=bottom] .arrow::after, .popover.popover-bottom .arrow::after {
  border-bottom-color: white;
}

.modal-header .close {
  padding: 0;
  margin: 0;
}

.asSpinnerUi {
  width: 78% !important;
}