.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.upload-head {
    width: 120px;
    height: 160px;
    border: 1px solid #cacaca;
    margin-top: 20px;
    color: #3298DC;
    text-align: center;
    vertical-align: middle;
    line-height: 160px;
}
.formName {
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 15px;
    .note {
        font-size: 14px;
        color: #999;
    }
}
